body {
 
}

#home {
	background-image: url('../images/doodi.jpg');
 background-size: cover;
	height: 700px;
}

#home p {
  padding-left: 30px;
	padding-top: 2px;
	color: white;
	letter-spacing: 4px;
	font-size: 80px;
	font-family: 'Open Sans Condensed', sans-serif;
}